body {
    background-image: url("./vintage-book-1492572_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.playwrite-au-sa-font {
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: normal;
  }

.button-div {
    text-align: center;
    position: fixed;
    left: 43.5%;
    bottom: 10%;

}

.book2 {
    text-align: center;
    position: fixed;
    left: 10%;
    top: 15%;
    color: rgb(53, 51, 51);
    font-family: "papyrus";
    font-size: 40px;
}

#bookButton {
    color: rgb(211, 90, 90);  
    background-color: rgb(52, 134, 228);
    font-size: 40px;
    font-family: "Playwrite AU SA";
}